.App {
  text-align: center;
}

.App-logo {
<<<<<<< HEAD
  height: 40vmin;
=======
  height: 20vmin;
>>>>>>> 6db79af4e770c79de1bd9d8b514edd880f14e839
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
<<<<<<< HEAD
  min-height: 100vh;
=======
  min-height: 30vh;
>>>>>>> 6db79af4e770c79de1bd9d8b514edd880f14e839
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
